<%unless comment.archived?%>
  <div class="card" style="width: 25rem;">
    <div class="card-header">
      <h5 class="card-title"><%=comment.commenter%></h5>
    </div>
    <div class="card-body">
      <%=comment.body%>
      <div>
        <br>
        <%=link_to "Delete Comment", [comment.article, comment], data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?" 
                    }, class:'btn btn-outline-danger btn-sm'%>
      </div>
    </div>
  </div>
<%end%>
